{% extends "base.html" %}

{% block title %}Patient Call List{% endblock %}
{% block header_title %}Patient Call List{% endblock %}

{% block content %}
<h2>Call List</h2>

<div class="table-container">
    <table class="guests-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patient Name</th>
                <th>Phone</th>
                <th>Type</th>
                <th>Please proceed to room</th>
            </tr>
        </thead>
        <tbody>
            {% for guest in patientlist %}
            <tr>
                <td>{{ guest.id }}</td>
                <td>{{ guest.name }}</td>
                <td>{{ guest.phone }}</td>
                <td>{{ guest.type }}</td>
                <td>{{  guest.req_dr  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

